@font-face {
    font-family: "Myriad Pro";
    src: url(../Fonts/MyriadPro-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "GothamBold";
    src: url(../Fonts/Gotham-Bold.ttf)
}

@font-face {
    font-family: "GothamMedium";
    src: url(../Fonts/Gotham-Medium.ttf)
}



html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

/* Header
======================================================================================== */
.navcont {
    padding-top: 25px;

}


.headerin {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.lain {
    border-bottom: 1px solid #7d7c7b;
    z-index: 1000;
}

.nav {
    flex-grow: 1;
    text-align: center;
}

a.anav {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: Myriad Pro;
    margin: 0 20px;
    padding: 0 15px 40px 15px;
}

.background {
    background-image: url(../Pic/creatives/hb.png);
    height: 880px;
    background-size: cover;
}

a.anav:hover {
    border-bottom: solid 6px #11749e;
}

a.anav:visited {
    border-bottom: solid 6px #11749e;
}

.mainhead {
    color: #f5f5f5;
    font-family: GothamBold;
    font-size: 152px;
    text-align: center;
    user-select: none;
    margin-top: 270px;
}

.mainhead2 {
    color: #11749e;
    font-family: GothamMedium;
    font-size: 25px;
    text-align: center;
    user-select: none;
    letter-spacing: 20px;
    margin-bottom: 110px;
}

.mainhead3 {
    font-family: Open Sans;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    user-select: none;
    margin-bottom: 20px;

}

.test {
    margin-top: 1500px;
}

.wrap {
    display: flex;
    justify-content: center;
}

.mainhead4 {
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
}

.ap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 9px;
    left: 9px;
    text-decoration: none;
}

.icons {
    color: white;
    padding: 0 15px 40px 15px;
}

.icons:hover {
    border-bottom: solid 6px #11749e;
}

.icons:visited {
    border-bottom: solid 6px #11749e;
}

@media screen and (max-width: 1200px) {
    a.anav{
        margin:0px 5px;
    }
    .logo{
        margin: 10px;
    }
    a.icons{
        padding: 0px 10px 40px 10px;
    }   
}
@media screen and (max-width: 950px){
    .background{
        min-height: 100vh;
        min-width: 100vh;
    }
    .mainhead{
        font-size:70px ;
        margin-top: 100px;
    }
    .mainhead2{
        letter-spacing: 10px;
    }
    .nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 264px;
        align-content:space-between;
        justify-content: flex-end;
    }
    .logo{
        align-self: flex-start;
    }
    a.anav{
        padding: 10px 0px;
        margin:0px;
    }
    a.icons{
        padding:23.5px;
        margin:0px;
    }
    a.icons:hover{
        border:none;
    }
    a.icons:visited{
        border:none;
    }
    a.anav:hover{
        border:none;
    }
    a.anav:visited{
        border:none;
    }
        
}