* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}



/* HEADER =========================================================================================== */


.bg1 {
    width: 100%;
    background-image: url(../PICS/bg1.png);
    background-size: cover;
}

.headerflex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    margin-top: 5%;
    margin-left: 7.5%;
    user-select: none;
}

.navflex {
    align-items: center;
    display: flex;
    width: 45%;
    height: 65px;
    background-color: transparent;
    margin-top: 5%;
    margin-right: 7.5%;
}

.navflexelement {
    text-align: center;
    width: 20%;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
    color: white;
}

.navflexelement:hover {
    border-bottom: 1px solid #5584ff;
}

.navfont {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.navlogin {
    display: block;
    color: #5584ff;
    border: 1px solid #5584ff;
    border-radius: 30px;
    padding: 10px 25px;
    margin: 0 10px 10px 10px;
}

.navlogin:hover {
    color: red;
    border-color: red;
}

.intro1 {
    color: white;
    font-size: 60px;
    text-align: center;
    font-weight: 100;
    user-select: none;
}

.intro2 {
    color: #8492af;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    user-select: none;
}

.headerbutton {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #5584ff;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.headerbutton:hover {
    background-color: transparent;
    border: 2px solid #5584ff;
    box-shadow: 0px 0px 10px #5584ff;
}

.midflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgf{
    margin-bottom: -120px;
}

.bg2{
    padding-bottom: 50px;
}

.container1400{
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}
.mainflex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 220px;
}
.mainflexin1{
    display: flex;
    width: 100%;
}
.mainflexin1item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.mainflexin2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
.mainflexin2item{
    font-size: 24px;
    font-weight: 700;
    width: 20%;
}
.mainflexin3{
    display: flex;
    width: 100%;
    justify-content:space-between;

}
.mainflexin3item{
    width: 20%;
    max-height: 105px;
    font-size: 18px;
    color: #8492af;
    font-weight: 400;
    text-align:center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainflexin4{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.mainflexin4item{
    width: 20%;
    text-align: center;
    margin-top: 30px;
}
.stylea{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: black;
    border: 1px solid #8492af;
    border-radius: 30px;
    padding: 5px 75px;

}
.stylea:hover{
    color: red;
    border-color: red;
}







































@media screen and (max-width: 1200px){
    .stylea{
        padding: 5px 40px;
    }
}




@media screen and (max-width: 1000px) {
    .headerflex {
        justify-content: center;
        flex-wrap: wrap;
    }

    .navflex {
        margin-right: 0;
        width: 80%;
    }

    .logo {
        margin-left: 0
    }
    .imgf{
        display:none;
    }
    .mainflex{
        margin-top: 100px;
    }

}


@media screen and (max-width: 450px) {
    .navflex {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;

    }

    .intro1 {
        font-size: 40px;
    }

    .intro2 {
        font-size: 26px;
    }

    .navlogin {
        margin: 0;
    }
}
